* {
    margin: 0;
    padding: 0;
}

.background {
    position: relative;
    width: 100%;
    height: 800px;
    background: black url(../img/demo.webp) no-repeat scroll center center ;
    background-size: cover;
}

.login {
    width: 20%;
    height: 20%;
    position: absolute;
    top: 30%;
    left: 40%;
    text-align: center;
    color: white;
}


.password,.count {
    text-align: center;
    width: 260px;
    height: 35px;
    margin-top: 20px;
    border-radius: 20px;
    font: 14px "microsoft yahei", Helvetica, Tahoma, Arial, "Microsoft jhengHei";
    background-color: transparent;
    line-height: 35px;
    border: 1px solid white;
    color: rgba(255, 255, 255, 0.4);
}


button {
    margin-top: 20px;
    width: 260px;
    height: 35px;
    border-width: 0;
    border-radius: 20px;
    color: white;
    background-color: royalblue;
}


